/**
 * @name RIKKA7v9FIXED
 * @rikka-author Leons
 * @author ClearVision Team
 * @version 7.0.0
 * @description Highly customizable theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */
/* IMPORT CSS */
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/betterdiscord.css");
/* SETTINGS */
:root {
  /* CHANNEL COLORS */
  --channel-normal: var(--interactive-text-default); /* channel text color [default: var(--interactive-text-default)] */
  --channel-muted: var(--interactive-muted); /* muted channel text color [default: var(--interactive-muted)] */
  --channel-hover: var(--interactive-text-hover); /* hovered channel text color [default: var(--interactive-text-hover)] */
  --channel-selected: var(--interactive-text-active); /* selected channel text color [default: var(--interactive-text-active)] */
  /* ACCENT COLORS */
  --main-color: #6F50A5;
  --hover-color: #805FBF;
  --success-color: #704db2;
  --danger-color: #982929;
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  /* APP BACKGROUND */
  --background-shading-percent: 74%;
  --background-image: url(https://raw.githubusercontent.com/IILeonsII/Theme/refs/heads/main/background.png);
  --background-attachment: fixed;
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));
  /* USER POPOUT BACKGROUND */
  --user-popout-image: url(https://raw.githubusercontent.com/IILeonsII/Theme/refs/heads/main/popout.png);
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);
  /* USER MODAL BACKGROUND */
  --user-modal-image: url(https://raw.githubusercontent.com/IILeonsII/Theme/refs/heads/main/modal.gif);
  --user-modal-attachment: var(--background-attachment);
  --user-modal-filter: var(--background-filter);
  /* HOME ICON */
  --home-icon: url(https://raw.githubusercontent.com/IILeonsII/Theme/refs/heads/main/homeicon.gif);
  /* FONTS */
  --main-font: "Whitney", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
  /* SERVER ACCENT COLOR */
  --server-accent-color: rgb(111, 80, 165);
  /* MISC */
  --status-positive-color: #7356ac !important;
  --status-positive: var(--status-positive-color) !important;
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4);
  --card-shading: rgba(0, 0, 0, 0.2);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.5);
  --popout-shading: rgba(0, 0, 0, 0.9);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.00);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* ADD ADDITIONAL CSS BELOW HERE */

/*Colour change for status icons and coloured status text*/
.c9d15c8a962de3c8-icon path, .c9d15c8a962de3c8-truncated path strong{
	color: var(--status-positive);
	fill: var(--status-positive-color);
}
.c9d15c8a962de3c8-activityCounter {
    color: var(--hsl-main-color) !important;
}

/* Link text */
  --url-color: #6F50A5;
._752971923a1e6683-markup .edefb8e22d63c542-anchor {
  color: #6F50A5;
}
/* Category names */
.visual-refresh ._29444ba32c7fbeab-name {
  color: rgb(111, 80, 165);
  font:Whitney;
  font-size: 14px;
  font-weight: 400;
  text-shadow: #6F50A5 0px 0px 2px;
}

/* Channel names */
._2ea32c412048f708-name {
  color: rgb(218, 218, 218);
  text-shadow: #000000 0px 0px 1px;
}
#app-mount ._0be773cf1443f34f-container {
    background-color: rgba(0, 0, 0, 0.4);
}
#app-mount ._6da2d8abf659f945-streamPreview {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Mention */
._5126c0cd07f243a0-mentioned {
  --background-mentioned: rgba(111, 80, 165, 0.05);
  --background-mentioned-hover: rgba(111, 80, 165, 0.08);
}
/* Usernames in servers */
._5d473ecff348c314-username {
  /* not bold text */
  font-weight: 400;
  font-size: 14px;
}
/* Fix profile bg image and banner */
._68edb95846a37624-mask {
    mask: linear-gradient(black, transparent);
}
/* Friendlist */
._0a06ed6ea040aa1b-username {
  color: #FFFFFF !important;
  font-size: 14px;
}

.sub_0a06ed6ea040aa1b-text {
  color: white !important;
}
/* Change text color of users in the direct messages list */
.e6b7699ce8339e1c-privateChannels ._20a53846fe2e8513-name {
  color: #FFFFFF !important;
  font-size: 15px;
}
/* Server unread colour */
._581051df43c5ebb6-item {
    background:rgb(111, 80, 16);
    box-shadow:0 0 20px -1px rgb(111, 80, 16);
}
/* Loading icon */
.a2f5142ba8328dfd-container img, .a2f5142ba8328dfd-container video{
    width: 0px;
    height: 0px;
    padding: 50px;
    margin-bottom: 20px;
    background: url(https://i.imgur.com/Y2BcRT6.gif);
    background-size: cover;
}
/* Remove unlock with nitro emojis */
.b3fb5fe9675b4b4d-nitroTopDividerContainer,
.premiumEmoji_d4ce86,
.premiumHeader_f73c14 {
    display: none;
}
/*Gets rid of the gift nitro button on dm profiles*/
.giftButtonContainer__68103 {
  display: none;
}
._740174f3d6a2c8fe-button[aria-label='Send a gift'] {
  display: none;
}

/* Hide Mark Unread button */
div[role="button"][aria-label="Mark Unread"],
#message-mark-unread
{
    display: none;
}
/* Hide Speak Message button */
#message-tts
{
    display: none;
}
 .visual-refresh ._2ea32c412048f708-unread {
  background-color: rgb(111, 80, 165);
} 

.c1521037ef09de7e-activeButton, 
.c1521037ef09de7e-activeButton:hover {
    background-color: rgb(111, 80, 165);
}
/* round server icons */
[class*="closedFolderIconWrapper_"] > [class*="guildIcon_"],
[data-list-item-id*="guildsnav_"] > [class*="icon_"] {
    border-radius: 50% !important;
}
/* SPOILER */
._299eb87491f4b6d1-spoilerContent,
._299eb87491f4b6d1-spoilerMarkdownContent,
._299eb87491f4b6d1-hidden {
  background: rgba(95, 65, 150, 1) !important;
  padding: 5px;
  border-radius: 10px;
}
 ._581051df43c5ebb6-item {
    box-shadow: 0 0 3px 1px rgb(111, 80, 165);
    background-color: rgb(111, 80, 165);
}
/* SERVER ACCENT */
._650eb104245d257b-listItem ._581051df43c5ebb6-item {
    background: var(--server-accent-color);
    box-shadow: 0 0 20px -1px var(--server-accent-color);
}
._650eb104245d257b-listItem .icon__62c73 {
    padding: 1px;
    color: var(--server-accent-color);
    filter: drop-shadow(0 0 3px var(--server-accent-color));
}
._650eb104245d257b-listItem ._650eb104245d257b-iconBadge._650eb104245d257b-isCurrentUserConnected {
    background: var(--server-accent-color);
    box-shadow: 0 0 0 1px var(--server-accent-color);
}
._650eb104245d257b-listItem .numberBadge__40d6f {
    background: var(--server-accent-color) !important;
    box-shadow: 0 0 20px -1px var(--server-accent-color) !important;
}
._650eb104245d257b-listItem .icon__62c73 {
    padding: 1px;
    color: var(--server-accent-color);
    filter: drop-shadow(0 0 3px var(--server-accent-color));
}
._650eb104245d257b-listItem ._650eb104245d257b-iconBadge._650eb104245d257b-isCurrentUserConnected {
    background: var(--server-accent-color) !important;
    box-shadow: 0 0 0 1px var(--server-accent-color) !important;
}
._650eb104245d257b-listItem .numberBadge__40d6f {
    background: var(--server-accent-color) !important;
    box-shadow: 0 0 20px -1px var(--server-accent-color) !important;
}
.numberBadge__40d6f, .textBadge_f05120 {
    background: var(--server-accent-color) !important;
    box-shadow: 0 0 10px -3px var(--server-accent-color),0 0 0 1px var(--server-accent-color);;
}
/* Notif icon colour and size */
._2b1f52e43a8f1c02-numberBadge, ._2b1f52e43a8f1c02-textBadge {
    background: var(--server-accent-color) !important;
    box-shadow: 0 0 5px 1px var(--server-accent-color),0 0 0 1px var(--server-accent-color);;
}
/* Effect when user speaks */
._07f9193042954787-voiceUser {
    z-index: 1
}
._07f9193042954787-voiceUser ._07f9193042954787-content {
    border-radius: 3px;
    transition: all .15s ease-in-out
}
._07f9193042954787-voiceUser .avatarSpeaking__07f91 {
    position: relative;
    transition: all .1s ease-in-out
}
._07f9193042954787-voiceUser .avatarSpeaking__07f91:after {
    content: "";
    position: absolute;
    height: 1.7em;
    background: linear-gradient(to right, var(--main-color) 10%, transparent);
    opacity: .5;
    transition: all .1s ease-in-out, width .15s ease-in-out;
    pointer-events: none;
    z-index: -1;
    border-radius: 999px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
._07f9193042954787-voiceUser .avatarSpeaking__07f91 {
    box-shadow: 0 0 0 2px var(--main-color), inset 0 0 3px rgba(0, 0, 0, .5)
}
._07f9193042954787-voiceUser .avatarSpeaking__07f91:after {
    top: -2px;
    bottom: -2px;
    width: 150px
}
._07f9193042954787-voiceUser ._07f9193042954787-username {
    color: hsla(0, 0%, 100%, .5);
    transition: all .1s ease-in-out
}
._07f9193042954787-voiceUser ._07f9193042954787-usernameSpeaking {
    color: #fff !important
}
.voiceChannelsButton__29444 {
    border: 1px solid var(--main-color)
}
.voiceChannelsButton__29444:hover {
    background: var(--hover-color);
    border: 1px solid var(--hover-color);
    transition: ease-in-out .15s
}
._183c2cc3c55377b0-icon {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    color: hsla(0, 0%, 100%, .3)
}
._183c2cc3c55377b0-moreUsers {
    padding: 0 4px;
    background: rgba(0, 0, 0, .3);
    border-radius: 10px
}
._29444ba32c7fbeab-containerDragAfter:before, ._29444ba32c7fbeab-containerDragBefore:before, ._29444ba32c7fbeab-containerDragAfter:after, ._29444ba32c7fbeab-containerDragBefore:after, .c69b6db0641110f6-containerDragAfter:before, .c69b6db0641110f6-containerDragBefore:before, .c69b6db0641110f6-containerDragAfter:after, .c69b6db0641110f6-containerDragBefore:after {
    background: var(--main-color);
    border-radius: 0
}
.c69b6db0641110f6-containerUserOver:after {
    background: var(--main-color);
    border-color: rgba(0, 0, 0, 0);
    opacity: .1
}
/* New unreads colour */
._3b95d7d910416e54-bar {
    background-color: var(--main-color);
}
/* Font colour for "LIVE" */
._2b1f52e43a8f1c02-textBadge {
    color: #FFFFFF;
}

/* Nameplate hide in bottom left */
._5e434347c823b592-panels ._4bbc6dc06e75ad52-container {
    border-radius: inherit;
    left: -4px;
    top: -2px;
    height: 0%;
    width: 0%;
}
/*Expanded folder background*/
._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderGroupBackground {
  opacity: 1;
  border: 2px solid;
  border-color: var(--main-color);
  box-shadow: 0 0 5px 0px var(--main-color)
}
._48112cbe77dc5022-folderPreviewWrapper {
  box-sizing: border-box;
  padding: var(--custom-folder-padding);
  background-color: trasparent;
}
/*Changes dot*/
._148e9a27d24c3ed3-blurpleTreatment {
    background-color: var(--main-color);
}
/*Name of game color*/
.b0dfc2ed9c57037d-overflow strong {
  font-weight: 600;
  color: var(--main-color);
}
.bf202d63ad53e289-selected .b0dfc2ed9c57037d-overflow  strong { 
	font-weight: 600;
	color: #FFFFFF;
}
/* Reaction Tooltip Panel */
  .visual-refresh .b49891f8a231dbff-reactionTooltip {
    border-radius: 9px;
    border: 1px solid var(--main-color);
	box-shadow: 0 0 5px 2px var(--main-color)
}
/* Server settings invite */
.visual-refresh .editProfileContainer__7bf69 {
    background: var(--card-shading);
}
/*Check for update toast (For Vencord)*/
.visual-refresh  ._3fde7e375925af75-toast {
  align-items: center;
  background-color: var(--background-tertiary);
  border-radius: 32px;
  display: flex;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 16px;
  border: 1px solid var(--main-color);
}
/*adjust Jump to present*/
.visual-refresh ._0f481cbbd7530492-jumpToPresentBar {
  background: var(--hsl-popout-shading);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  bottom: calc(-12px + var(--space-6));
  box-shadow: 0 0 6px 0px var(--main-color)
}

}
/*Removes Orbs Banner (Under Profiles)*/
._8279f38edc620354-container {
  display: none;
}
/*Removes Use Apps */
div#channel-attach-SLASH_COMMAND {
  display: none;
}
/* VOICE CONNECTIVITY */
  ._06d6249a1f2584ac-ping path {
    fill: #6F50A5;
  }

  ._06d6249a1f2584ac-rtcConnectionStatusConnected {
    color: #6F50A5;
  }

  ._06d6249a1f2584ac-rtcConnectionStatusConnecting {
    color: var(--text-feedback-warning)
  }

  ._06d6249a1f2584ac-rtcConnectionStatusError {
    color: var(--status-danger)
}

/*Makes Connected to * background trasnparent*/
.e373d2ba8dabda6d-root.e373d2ba8dabda6d-connected {
  background-color: transparent;
}
/* Remove Help button from top right */
.edefb8e22d63c542-anchor [aria-label="Help"]{
  display: none !important;
}
/*Update Ready Icon*/
._496769951eb140fe-updateIconForeground {
  fill: var(--main-color);
}
/*Dot between status icon and status text*/
.c9d15c8a962de3c8-dot {
	color: #908d8e
}
/*Remove discover button*/
.ef3116c2da186559-scroller > ._650eb104245d257b-listItem {
    display: none;
}
/* FOR USE LATER
._04eede68d145ae81-spriteGreyscale {
    background-color: var(--hsl-main-color);
} */
